version: "3"

services:
  backend:
    image: laynaria/green-step-backend
    env_file: .env.backend
    depends_on:
      db:
        condition: service_healthy

  frontend:
    image: laynaria/green-step-frontend
    env_file: .env.frontend

  # images:
  #   build: ./images
  #   ports:
  #     - 8000:8000
  #   volumes:
  #     - ./images/src/:/app/src/:rw
  #     - ./images/package.json:/app/package.json:rw
  #     - ./images/uploads/:/app/uploads/
  #   environment:
  #     - WATCHPACK_POLLING=true

  db:
    image: postgres
    restart: always
    env_file: .env.db
    volumes:
      - ./dbData/:/var/lib/postgresql/data/customDataFolder
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d green_step_db -U green_step"]
      interval: 5s
      timeout: 5s
      retries: 10

  nginx:
    image: nginx:1.21.3
    depends_on:
      - frontend
      - backend
    restart: always
    ports:
      - 8000:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./logs:/var/log/nginx
