@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacingx2: 20px;
  --spacing: 10px;
  --spacing-2: 8px;
  --spacing-5: 5px;

  --font-size-h2: 1.5rem;

  --primary-color-dark: #5BC27C;
  --primary-color-medium: #97D8AC;
  --primary-color-light: #E1F4E7;

  --secondary-color-dark:#3E878E;
  --secondary-color-medium: #8EC8CD;
  --secondary-color-light: #E3F1F3;

  --thirdly-color-medium:#F9D9C8;
  --thirdly-color-light: #FDF2ED;
  
  --fourth-color-dark: #0A0A0A;
  --fourth-color-medium: #999999;
  --fourth-color-light: #F5F5F5;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
